{% extends 'mainapp/base.html' %}
{% block content %}
    <div class="hero">
        <div class="header clearfix">
            <a href="/" class="logo"></a>
            <ul class="menu">
                {% include 'mainapp/includes/inc_name_menu.html' %}
            </ul>
            <a href="#" class="search"></a>
            <a href="#" class="basket"></a>
        </div>
        <h1>наши контакты</h1>
    </div>

    <div class="location">
        {% include 'mainapp/includes/inc_contact.html' %}
    </div>
{% endblock %}
